
@font-face
{
    font-family: Albertusfont;
    src: url(Albertusfont.otf);
}

body
{
    font-family: Albertusfont !important;
    font-weight: 200 !important;

    letter-spacing: 1px;
}

ul
{
    padding: 0;
}

button
{
    cursor: pointer;
}

.navbar .container
{
    padding: 0;
}

.navbar-brand img
{
    height: 60px;
}
.bg-Nav
{
    background: url(nav.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-item
{
    max-height: 600px;
}

.header_works__head_name
{
    padding-top: 250px;
}

.header__wrapper
{
    height: 100%;

    background: rgba(32, 35, 44, .9);
}

.header__head_name
{
    padding-top: 250px;
}

#articles
{
    background-color: #20232c;
}

#articles .card
{
    background: no-repeat;
    background-position: top left;
}

#articlesPage .card-body img
{
    width: 100%;
}
#schedule
{
    background-color: #20232c;
}

#arts .wrapper
{
    height: 50vh;

    background: no-repeat;
    background-position: top;
    background-size: cover;
}

#arts .wrapper:hover .card
{
    background: rgba(0,0,0,.5);
}
#arts .card
{
    height: 50vh;

    cursor: pointer;
    transition: .5s;

    background: transparent;
}
#arts .text-white
{
    text-decoration: none;
}

#social
{
    background-color: #20232c;
}

#social h2 a:nth-child(1) i:hover
{
    color: #4a76a8;
}

#social h2 a:nth-child(2) i:hover
{
    color: #7389dc;
}
#social h2 a:nth-child(3) i:hover
{
    color: #f00;
}
#social h2 a:nth-child(4) i:hover
{
    color: #f96854;
}
#social h2 a:nth-child(5) i:hover
{
    color: #2da5e1;
}
#social h2 a:nth-child(6) i:hover
{
    color: #4b367c;
}

#reviews img
{
    height: 200px;
}

#reviews .carousel-inner
{
    height: 300px;
}

#masters .wrapper, #library .wrapper
{
    height: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    background: no-repeat;
    background-position: top;
    background-size: cover;
}

#masters .wrapper:hover .card
{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: .5s;
    background-color: rgba(0,0,0,0.8);
}

#masters .wrapper:hover, #library .wrapper:hover
{
    transition: .5s;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

#masters .card, #library .card
{
    width: 100%;
    height: 100%;

    transition: .2s;

    background: transparent;
}
#masters .text-white, #library .text-white
{
    text-decoration: none;
}

#library .wrapper:hover .card
{
    box-shadow: 0 0 0 rgba(0,0,0,0);
    transition: .5s;
    background-color: #000;
}

.blackBG{
    position: fixed;
    z-index: 20;
    background-color: rgba(0,0,0,0.9);
    height:100%;
    width:100%;
    transition: 1s;
}

.form-inline .form-control
{
    width: 700px !important;
}
footer
{
    background-color: #000;
}
