body{
  background: #000;
}
@-webkit-keyframes move
{
    from
    {
        top: 10px;
        left: 12px;
    }
    to
    {
        top: 25px;
        left: 12px;
    }
}

@keyframes move
{
    from
    {
        top: 10px;
        left: 12px;
    }
    to
    {
        top: 25px;
        left: 12px;
    }
}

button
{
  cursor: pointer;
}
nav{
  background-color: #9cd0e5;
}

.navbar .container{
    padding: 0;
}

.navbar-brand img{
  height:60px;
}

header
{
    background: url(bg-1.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#header{
  padding-top: 60px;  
}
.carousel-item{

    height:800px;
}

.header_works{
    background: url(bg-1.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header_works__head_name
{
    padding-top: 250px;
}

.header__wrapper
{
    height: 100%;

    background: rgba(32, 35, 44, .9);
}

.header__head_name
{
    padding-top: 250px;
}

#news{
  position: absolute;
  margin-top:-100px;
}