body {
  margin: 0;
  padding: 0;
  font-family: 'Allerta Stencil', sans-serif !important;
  background: #000;
}

a{
	color: #fff !important;
	text-decoration: none !important;
}

ul{
	list-style-type: none;
	padding:0;
}

section{
	height:100vh;
	overflow-y: auto;
}

#Navigation{
	height:100vh;
	width: 50px;
	background: #181818;
	z-index: 999;
	overflow: hidden;
}

#Home{
	background: url("./bg.jpeg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#Home .wrapper{
	background: rgb(32,35,44);
	mix-blend-mode: multiply;
	height:100vh;
	animation: darkShow 4s ease alternate;
}

@keyframes darkShow {
    0% {background: rgba(32,35,44,0);}
    100% {background: rgb(32,35,44);}
}

#Home .d-flex{
	height:100%;
}

#Home h1{
	font-size: 8em;
	overflow:hidden;
  	white-space:nowrap;
  	animation: showup 7s;
}

#Home h1 span{
  animation: slidein 7s;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-500px; }
    20% { margin-left:-500px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

#Works .card:hover{
	transform: scale(1.1);
	transition: .5s;
}

#Contacts input:focus {
    box-shadow: none;
}