p,body {
  margin: 0;
  padding: 0;
  font-family: 'Allerta Stencil', sans-serif !important;
}

a{
	color: #fff !important;
	text-decoration: none !important;
}

ul{
	list-style-type: none;
	padding:0;
}

section{
	height:100vh;
}

#Navigation{
	height:100vh;
	width: 50px;
	background: #181818;
	z-index: 999;
}

#Home{
	background: url("./bg.jpeg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#Home .wrapper{
	background: rgb(32,35,44);
	mix-blend-mode: multiply;
	height:100vh;
	animation: darkShow 4s ease alternate;
}

@keyframes darkShow {
    0% {background: rgba(32,35,44,0);}
    100% {background: rgb(32,35,44);}
}

#Home .d-flex{
	height:100%;
}

#Home h1{
	font-size: 12em;
	overflow:hidden;
  	white-space:nowrap;
  	animation: showup 7s;
}

#Home h1 span{
  animation: slidein 7s;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

.headPage{
	height: 200px;
}

.pageOption {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 40em; height: 27em;
}

.pageOption:hover .option:first-child {
	left:10px;
	top: -10px;
}

.pageOption:hover .option:last-child {
	right: 10px;
	bottom: -5px;
}

.option, .option img { width: 100%; height: 100%; }
.option {
  overflow: hidden;
  position: absolute;  
  transform: skewX(-55.98deg);
}
.option:first-child {
  transform-origin: 100% 0;
}
.option:last-child {
  transform-origin: 0 100%;
}
.option img { opacity: .75; transition: .5s; }
.option img, .option:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}
